.timer {
  margin-top: 30px;
  cursor: pointer;
}

.helperText {
  margin-bottom: 15px;
  color: #888;
}

.time {
  position: relative;
  height: 150px;
  background-color: #ddd;
  user-select: none;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #a3e4d7;
  transition: background-color 1s ease-in-out;
}

.runningOut {
  background-color: #f5b7b1;
}

.numberWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.seconds,
.decimals {
  display: inline-block;
}

.seconds {
  width: 120px;
  font-size: 100px;
  text-align: right;
}

.point {
  font-size: 50px;
}

.decimals {
  width: 30px;
  font-size: 50px;
  text-align: left;
}

.duration {
  margin-top: 30px;
  cursor: default;
  transition: all 0.3s ease-in-out;
}

.disabled {
  opacity: 0;
}

.durationLabel {
  font-weight: 700;
}

.durationInput {
  margin: 0 10px;
  padding: 10px 0 10px 30px;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  transition: all 0.3s ease-in-out;
}
