.timer {
  margin-top: 30px;
}

.time {
  position: relative;
  height: 150px;
  background-color: #ddd;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease-in-out;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: lightgreen;
}

.numberWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.seconds,
.decimals {
  display: inline-block;
}

.seconds {
  width: 120px;
  font-size: 100px;
  text-align: right;
}

.point {
  font-size: 50px;
}

.decimals {
  width: 30px;
  font-size: 50px;
  text-align: left;
}
